/*reseteo del css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* css en general */
body{
    display:grid;
    background-color: black;
    color: white;
    font-family: Inter, sans-serif;
}

div {
    display: block;
}

.containerPerfil img{
    width: 20%;
}

.iconos {
    margin-right: 10px;
}

.iconos img {
    width: 4%;
}

a:visited {
    color: #727171;
}

a:hover {
    color: #ff7613;
}

fieldset {
    padding: 20px 10px;
    margin-bottom: 12px;
    border-radius: 5px;
}

legend {
    font-weight: bold;
}

li {
    display: inline-block;
    padding: 0 20px;
    color: #727171;
}

/* css a la hoja del ccs*/
.hojacv {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 20px 20px;
    background: #070707;
}

.containerPerfil {
    display: flex;
    height: 200px;
    align-content: space-between;
}

.infoPersonal {
    display: inline-block;
    width: 50%;
    padding-left: 30px;
}

.contactos {
    justify-content: space-around; /* Espaciar elementos uniformemente */
    align-items: center; /* Centrar verticalmente */
    height: 200px; /* Altura de ejemplo */
}

/* primer div (nombre,apellido, etc) */
h1 span {
    font-weight: normal;
}

h1 {
    font-size: 30pt;
    color: #ff7613;
    display: block;
    margin-block-start: 15px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2 {
    font-size: 17pt;
    font-weight: normal;
    display: block;
    margin-block-start: 15px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    font-size: 9pt;
}